 header {
      text-align: center;
      background: url('../img/mundo.jpg');
      background-size: cover;
      background-position: center;
      color:purple;
    }
    a {
      color: orange;
    }
    h1 {
      font-size: 70px;
    }
    img {
      margin: 40px 8px 0px 0px;
      border: 7px solid black;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    body {
    	background:url('http://p1.pichost.me/i/15/1385709.jpg');
    	background-size: cover;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0px auto;
      color: #02256A;
      font-style: bold;
      background: url('../img/red.jpg'); ;
      background-size: 110%;
      background-position: center;
      background-repeat: no-repeat;
    }
    img.logo{
      width: 80px;
      height: 70px;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      }
      body {
        background: red;
      }
    }